* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  padding: 10px;
  background-color: #ffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

main {
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-color {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;

  background: #5a5a5a;
  border: 2px solid #5a5a5a;
  border-radius: 5px;
}

.title-color h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.color {
  margin-top: 5px;
  width: 130px;

  line-height: 1;
  text-align: center;
  font-size: 25px;
  color: #fff;

  background-color: inherit;
  border: none;
}

.btn {
  padding: 5px 15px;

  font-weight: 400;
  font-size: 20px;
  color: #fff;

  background-color: #5a5a5a;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #7a7a7a;
}

.btn:active {
  transform: translate(1px, 1px);
}

.btn-copy {
  padding: 5px;
  background-color: #808080;
}
