* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Comfortaa", cursive;
}

body {
  position: relative;
  background-color: #6fccb1;
}

.header {
  padding: 10px;

  background-color: #ffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 2.5rem;
  text-align: center;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 64px);
}

.modal-active {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);
}

.btn {
  padding: 10px;

  font-size: 1.5rem;
  font-weight: 500;

  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(0.9);
}

.modal {
  position: absolute;

  padding: 20px;
  width: 300px;

  opacity: 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

  transform: translateX(-100%);
  transition: all 0.3s linear;
  z-index: 1;
}

.modal__title {
  position: relative;
  margin-bottom: 20px;

  font-size: 2rem;
  font-weight: 500;
}

.modal__description {
  margin-bottom: 10px;

  font-size: 1.2rem;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 1.2rem;

  cursor: pointer;
  outline: none;
  border: none;
  background-color: inherit;
}

.modal__close:active {
  transform: scale(0.9);
}

.show-modal {
  opacity: 1;
  transform: translateX(0);
}
