* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #794c49;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 3rem;
  font-weight: 700;
}

.show-btn {
  display: block;

  width: 40px;
  height: 40px;

  font-size: 1.5rem;

  border: none;
  outline: none;
  cursor: pointer;
  background: inherit;
}

.show {
  display: block;
}

.close {
  display: none;
}

.sidebar {
  position: relative;
  width: 35%;
  min-height: calc(100vh - 68px);
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #fff;
  transition: all 0.3s linear;
  transform: translateX(-100%);
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar__menu {
  width: 100%;
  margin-bottom: 30px;
}

.sidebar__item {
  margin: 10px 0;

  list-style: none;
  transition: all 0.5s;
}

.sidebar__item:hover {
  background-color: #aae2f8;
}

.sidebar__link {
  display: block;
  padding: 10px;
  width: 100%;

  color: #687280;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.5s;
}

.sidebar__link:hover {
  color: #59a6c7;
  padding-left: 20px;
}

.social {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin: 0 10px;
  list-style: none;
  transition: all 0.3s;
}

.social__item:hover {
  transform: scale(1.3);
}

.social__link {
  display: block;
  color: #000;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .sidebar {
    width: 50%;
  }

  .social__link {
    font-size: 1.5rem;
  }
}
