* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Verdana", "Arial", "Helvetica", sans-serif;
  background-color: #2f3033;
}

.title {
  position: relative;
  padding: 10px;
  padding-bottom: 30px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  color: #e9ca1b;
  text-shadow: 0 0 50px #e9ca1b;
}

.title::after {
  content: "";
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  height: 2px;
  background: #e9ca1b73;
}

.slider {
  position: relative;
  padding: 20px;
}

.slider__container {
  display: flex;
  width: 60%;
  height: 60vh;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}

.slider__img {
  width: 100%;
  animation: slider 1.5s forwards;
}

.slider__img img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@keyframes slider {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  width: 90px;
  height: 90px;

  top: 50%;
  transform: translateY(-50%);

  font-size: 90px;
  color: #e9ca1b83;

  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  text-shadow: 0 0 20px #e9ca1b;
  transition: all 0.5s;
}

.btn:hover {
  color: #ffe44edc;
  text-shadow: 0 0 25px #ffe44e;
}

.btn-next {
  position: absolute;
  right: 20px;
}

.btn-prev {
  position: absolute;
  left: 20px;
}

.slider__dots {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  right: 0;
  left: 0;
}

.slider__dot {
  width: 20px;
  height: 20px;
  margin: 15px;
  border-radius: 50%;
  background: #e9ca1b83;
  box-shadow: 0 0 10px #e9ca1b;
  cursor: pointer;
  transition: all 0.5s;
}

.slider__dot:hover {
  background: #ffe44e;
  box-shadow: 0 0 20px #e9ca1b;
}

.active-dot {
  background: #ffe44e;
  box-shadow: 0 0 20px #e9ca1b;
}
